test.json
{
    "StartAt": "load-ingest-conf",
    "States": {
        "load-ingest-conf": {
            "Next": "ingest-job-mapping",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ClientExecutionTimeoutException",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": ${var.lambda_retry_interval
                    },
                    "MaxAttempts": ${var.lambda_retry_max_attempts
                    },
                    "BackoffRate": ${var.lambda_retry_backoff_rate
                    }
                }
            ],
            "Type": "Task",
            "OutputPath": "$.Payload",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${aws_lambda_function.lambda_config_loader.arn}",
                "Payload.$": "$"
            }
        },
        "ingest-job-mapping": {
            "Type": "Map",
            "Next": "enrich-caar-data",
            "ResultPath": null,
            "Iterator": {
                "StartAt": "ingest-job",
                "States": {
                    "ingest-job": {
                        "End": true,
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "IntervalSeconds": ${var.glue_retry_interval},
                                "MaxAttempts": ${var.glue_retry_max_attempts},
                                "BackoffRate": ${var.glue_retry_backoff_rate}
                            }
                        ],
                        "Type": "Task",
                        "Resource": "arn:aws:states:::glue:startJobRun.sync",
                        "Parameters": {
                            "JobName": "${aws_glue_job.ingest_job.id}",
                            "Arguments": {
                                "--target.$": "$.target",
                                "--target_prefixes.$": "$.target_prefixes",
                                "--catalog_table.$": "$.catalog_table",
                                "--catalog_database.$": "$.catalog_database",
                                "--connection_type.$": "$.connection_type",
                                "--options.$": "$.options"
                            },
                            "Timeout": ${var.glue_timeout},
                            "NotificationProperty": {
                                "NotifyDelayAfter": 5
                            }
                        }
                    }
                }
            },
            "ItemsPath": "$.tables",
            "MaxConcurrency": ${var.glue_max_concurrent_runs}
        },
        "enrich-caar-data": {
            "Type": "Parallel",
            "Next": "start-glue-staging-crawler",
            "Branches": [
                {
                    "StartAt": "enrich-agent",
                    "States": {
                        "enrich-agent": {
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "Lambda.ClientExecutionTimeoutException",
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException"
                                    ],
                                    "IntervalSeconds": ${var.lambda_ec_retry_interval
                                    },
                                    "MaxAttempts": ${var.lambda_ec_retry_max_attempts
                                    },
                                    "BackoffRate": ${var.lambda_ec_retry_backoff_rate
                                    }
                                }
                            ],
                            "Type": "Task",
                            "OutputPath": "$.Payload",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "FunctionName": "${aws_lambda_function.lambda_caar_enrich_agent.arn}",
                                "Payload.$": "$"
                            }
                        }
                    }
                },
                {
                    "StartAt": "enrich-office",
                    "States": {
                        "enrich-office": {
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "Lambda.ClientExecutionTimeoutException",
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException"
                                    ],
                                    "IntervalSeconds": ${var.lambda_ec_retry_interval
                                    },
                                    "MaxAttempts": ${var.lambda_ec_retry_max_attempts
                                    },
                                    "BackoffRate": ${var.lambda_ec_retry_backoff_rate
                                    }
                                }
                            ],
                            "Type": "Task",
                            "OutputPath": "$.Payload",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "FunctionName": "${aws_lambda_function.lambda_caar_enrich_office.arn}",
                                "Payload.$": "$"
                            }
                        }
                    }
                }
            ]
        },
        "start-glue-staging-crawler": {
            "End": true,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Parameters": {"Name":"${module.staging_crawler_naming.name}"}
        }
    }
}